@model IEnumerable<BusStop.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}



<body>
    <h1>Welcome to the Employee Transport Management System!</h1>
    <br />
    <br />
    <br />
    <br />
    <h3>Our system is designed to help companies manage employee transportation efficiently and effectively. With our system, companies can easily schedule, track, and manage employee transportation needs.</h3>

    <h4>Features of our system include:</h4>
    <ul>
    <li>Scheduling: Companies can easily schedule transportation for employees, including pick-up and drop-off times, locations, and routes.</li>

    <li>Tracking: Companies can track transportation in real-time, ensuring that employees are picked up and dropped off on time.</li>

    <li>Reporting: Our system generates detailed reports on transportation usage, including routes, times, and costs.</li>

    <li>Cost management: Companies can manage transportation costs by optimizing routes and scheduling, reducing the need for multiple vehicles and trips.</li>

    <li>Customization: Our system can be customized to meet the specific needs of your company, including vehicle types, routes, and scheduling.</li>
    
    </ul>
    
    To get started with our system, please log in with your account information or contact us to set up a new account. We look forward to helping your company manage its employee transportation needs efficiently and effectively!
</body>