@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    In this “Terms of Use and Privacy Policy” notification, the term ‘college’ refers to administration of Pachaiyappa’s College for Men, Kachipuram. And the terms Students, Applicants, Users refers to any third person using the website for various academic related purposes.


    This website, www.pcmkpm.edu.in, is purely established only for educational purposes. The data collected through this website is utilized only for educational purposes within the institution, affiliated to the University of Madras and the Govt. of Tamil Nadu guidelines is followed. The data will not be shared to any other third party.

    In this website, the government prescribed fees alone are collected and remitted into the bank accounts and is audited by the respective authorities. No capitation fee or donations collected from any person through this website. No agents/middlemen are involved in the admission process.

    By using this website the users agree that they will not indulge in any type of misuse of the data published in the website. The data used in this website are protected and published only for informational purposes. The college reserves the right of the authentication of the data presented in the website. If the user have any discrepancy of the data provided in the website they may contact college administration and can have clarification if they wish.

    We assume no responsibility for unintended, objectionable, inaccurate, misleading or unlawful content made available by users, advertisers, and third parties. By submitting enquiry form provided in the Contact Us Tab the user agrees that the college may store the contact information to contact the user in future.

    The college reserves the right to amend or modify these terms of use and privacy policy at any time, as and when the need arises, we request you to regularly check this page from time to time to keep you apprised of changes made. Your continued use of the platform gives your unconditional acceptance
</div>